<h1>About</h1>
<p> <%= link_to"One Month Rails!" , "http://onemonthrails" %>
	is a project to teach
	<%= link_to "Ruby on Rails", "http://rubyonrails.com" %>
	in one month. This is the Sample application
</p>
