<h1>About Us</h1>
<div class="row-fluid">
	<div class="span12">
<p> We are a full service graphic design firm. We strive to make our clients happy while also keeping them informed about their project and where it is headed. Informing the client while try not to use jargon or confusing language so that there is not any communication errors on what we are doing. Our services inclued print design, logo design, brand development, web design/ programming, and any other services you may need to further you brand or business. 
</div>
</div>
<div class="row-fluid">
	<div class="span12">
	</div>
</div>
<div class="row-fluid">
<div class="span4">
	<p><img src="/assets/me.jpg" class="img-circle" align="left"></p>
</div>
<div class="span4">
	<p> <b>Ryan Campbell</b> is the lead graphic designer as well as the owner. He started his design career after graduating from MATC- Madison after which he moved to Milwaukee, WI. While in Milwaukee He worked in a print shop as their in-house designer creating anything and everything for walk in customers and our main clients. At the same time he furthered his design knowledge and skills while working for a screen printer setting up the designs for print. While there he was the head of the art department for a short time before leaving. After leaving the screen printing business he began working in the airline industry loading and unloading planes while trying to jumpstart his freelance career. In 2010 he moved to Utah with the airline industry. While in Utah he gained experience working in a design firm atmosphere creating design concepts for multiple clients. Since then he have moved on and began working freelance more often.
</p>
</div>
</div>



