
<div class="hero-unit">
  
<h1>Welcome to Thinkspace Design!</h1>
<p>
	You've found the portfolio page for Thinkspace Design...
</p>
</div>
<div class="row-fluid">
	<div class="span4">
		<h4>Print Design</h4>
		<p>We offer many services in the print field. Creating a document from concept to final project involves 
			the client the whole to make sure our final product is what the client wants. The services include but
			aren't limited to; postcards, letterhead, envelopes, posters, etc.</p>
			<button class="btn btn-info">Learn More</button>
	</div>
	<div class="span4">
		<h4>Identity Design</h4>
		<p>Creating and identity for your business or organization is key to the suceess in the future. It shows your audience what you do or who you are as a business. The identity package includes a logo, letterhead, envelope, and one subsequent piece to get marketing rolling.</p>
		<button class="btn btn-info">Learn More</button>
	</div>
	<div class="span4">
		<h4>Web/Digital Design</h4>
		<p>fdhsjkfdhsfkjhdskjfhslkjfhskdjfhdskljfhskljdfhsdkjfhsdjkfhsd</p>
		<button class="btn btn-info">Learn More</button>
	</div>
</div>
