
<div class="hero-unit">
  
<h1 align="center">Welcome to Thinkspace Design!</h1>
<p align="center">
	Graphic Design services that take your idea and make it reality.
</p>
</div>
<div class="row-fluid">
	<div class="span4">
		<h4>Print Design</h4>
		<p>Creating a document from concept to final project involves 
			the client during the whole process to ensure the final product is what the client wants. We offer many services including but are not limited to: postcards, letterhead, envelopes, posters, etc.</p>
			<p>
			<%= link_to 'Learn More', print_path, class:"btn btn-info" %>
		</p>
	</div>
	<div class="span4">
		<h4>Identity Design</h4>
		<p>Creating an identity for your business or organization is the key to its future success. your identity shows your audience what you do and who you are as a business. The identity package includes a logo, letterhead, envelope, and one subsequent piece to get your marketing rolling.</p>
		<%= link_to 'Learn More', logo_path, class:"btn btn-info" %>
	</div>
	<div class="span4">
		<h4>Web/Digital Design</h4>
		<p>We know the digital world is confusing, that's why we are prepared to help guide you through the clutter and jargon. Our services include banner design, web design consulting, simple web design, and other digital media. If we can't do it, we know someone who can.  </p>
		<%= link_to 'Learn More', web_path, class:"btn btn-info" %>
	</div>
</div>
