
<div class="hero-unit">
  
<h1 align=center>Logo Design Portfolio</h1>
<p align=center>
Here is a collection of my logo design work from over the years.	
</p>

</div>
<div class="row">
	<h4> Click on the thumbnails to see the larger version..</h4>
<div class="row-fluid">
	<div class="span2">
	<a class='gallery' href='/assets/brakeboss_lrg.jpg'><img src="/assets/brakeboss_thumb.jpg"></a>
</div>
<div class="span2">
        <a class='gallery' href='/assets/Cgaming_lrg.jpg'><img src="/assets/Cgaming_thumb.jpg"></a>
    </div>
<div class="span2">
        <a class='gallery' href='/assets/fixxd_lrg.jpg'><img src="/assets/fixxd_thumb.jpg"></a>
    </div>
    <div class="span2">
        <a class='gallery' href='/assets/milar_lrg.jpg'><img src="/assets/milar_thumb.jpg"></a>
    </div>
<div class="span2">
        <a class='gallery' href='/assets/ops_lrg.jpg'><img src="/assets/ops_thumb.jpg"></a>
    </div>
<div class="span2">
        <a class='gallery' href='/assets/saveory_lrg.jpg'><img src="/assets/saveory_thumb.jpg"></a>
    </div>
</div>
<div class="row-fluid">
	<div>
		<br>
	</div>
</div>
<div class="row-fluid">
<div class="span2">
        <a class='gallery' href='/assets/smplogo_lrg.jpg'><img src="/assets/smplogo_thumb.jpg"></a>
    </div>
<div class="span2">
        <a class='gallery' href='/assets/chive_lrg.jpg'><img src="/assets/chive_thumb.jpg"></a>
    </div>
    <div class="span2">
        <a class='gallery' href='/assets/rails.png'><img src="/assets/thumbnail.jpg"></a>
    </div>
<div class="span2">
        <a class='gallery' href='/assets/rails.png'><img src="/assets/thumbnail.jpg"></a>
    </div>
<div class="span2">
        <a class='gallery' href='/assets/rails.png'><img src="/assets/thumbnail.jpg"></a>
    </div>
    <div class="span2">
        <a class='gallery' href='/assets/rails.png'><img src="/assets/thumbnail.jpg"></a>
    </div>
</div>
</div>
